body{
	font-family: times;
	animation: change 2s infinite linear;


}

button{
	position: fixed;
	top: 50vh;
	left: 50vw;
	padding: 10px;
	font-size: 20px;
	background: transparent;

	background: grey;
	opacity: 0.5;
	font-weight: bold;
}
button:hover{
	opacity: 1;
	font-size: 26px;
}
@keyframes change{
	0%{background-color: : yellow;}
	25%{background: red;}
	50%{background: green;}
	75%{background: blue;}
	90%{background: white;}

}

@media (max-width: 700px){
	button{
		left: 40vw;
	}
}
