body{
	font-family: times;
	animation: change 2s infinite linear;
	display: flex;
	justify-content: center;
    align-items: center;
}



button{
 display: flex;
    justify-content: center;
    align-items: center;
	padding: 10px;
	font-size: 20px;
	background: transparent;
	margin-top:200%;

	background: grey;
	opacity: 0.5;
	font-weight: bold;


}
button:hover{
	opacity: 1;
	background-color: black;
	color: white;
	font-style: italic;
}
@keyframes change{
	0%{background-color: : yellow;}
	25%{background: red;}
	50%{background: green;}
	75%{background: blue;}
	90%{background: white;}

}

@media (max-width: 700px){
	button{
		left: 40vw;
	}
}
